# Dependências (Pasta mais pesada, nunca deve subir)
node_modules/

# Expo (Arquivos de cache e build local)
.expo/
dist/
web-build/

# Logs de erro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Android e iOS (Pastas geradas apenas em builds nativos)
android/
ios/

# Variáveis de ambiente (Segurança)
.env
.env.localp